@model WebTribuno.Models.OperacaoModel
@using WebTribuno.Pages
@{
    ViewData["Title"] = "Index";
}

<form asp-action="Create" id="formCadastroOperacao" style="background-color:whitesmoke">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pb-2">
            <h2 class="text-primary">Cadastrar Operação</h2>
            <hr />
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.NomeOperacao" class="control-label"></label>
            <input id="NomeOperacao" asp-for="@Model.NomeOperacao" class="form-control" />
            <span asp-validation-for="NomeOperacao" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="@Model.Descricao" class="control-label"></label>
            <input id="Descricao" asp-for="@Model.Descricao" class="form-control" />
            <span asp-validation-for="@Model.Descricao" class="text-danger"></span>
        </div>

        <div class="border border-warning p-3 mt-4" style="border-radius:10px;background-color:lightgray">
            @if (Model != null)
            {
                <input hidden id="IdOperacao" asp-for="IdOperacao" class="form-control" value="@Model.IdOperacao" />
            }
            <partial name="_GerarParcelas" for="@Model.SimulacaoParcela" />
        </div>

        <div class="offset-5" style="padding-top:30px">
            <input class="btn btn-primary col-md-2" id="btGravar" type="button" value="Cadastrar"/>
            <a class="btn btn-success text-white col-md-2" asp-action="Index" asp-controller="Home">Voltar</a>
        </div>
      
    </div>
</form>

<script src="controller/action" asp-append-version="true" type="javascript"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
