@model WebTribuno.Models.SimulacaoParcela

<div id="Simulacao" style="padding:10px;background-color:whitesmoke;border-radius:30px">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <h4 class="text-primary offset-1" style="padding:10px; font-style:oblique"><b>Simular Parcelas</b></h4>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.QuantidadeParcela" class="control-label"></label>
            <input id="QuantidadeParcela" asp-for="@Model.QuantidadeParcela" required class="form-control" type="number" min="1" max="200" placeholder="Nro Parcelas" />
            <span asp-validation-for="@Model.QuantidadeParcela" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="@Model.ValorParcela" class="control-label"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input id="ValorParcela" asp-for="@Model.ValorParcela" required class="form-control" placeholder="Valor" />
            </div>
            <span asp-validation-for="@Model.ValorParcela" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" asp-for="DataPrimeiroVencimento"></label>
            <input id="DataPrimeiroVencimento" asp-for="@Model.DataPrimeiroVencimento" required class="form-control" type="date" placeholder="Primeiro vencimento" />
            <span asp-validation-for="@Model.DataPrimeiroVencimento" class="text-danger"></span>
        </div>

    </div>
    <div style="padding:20px">
        <div class="offset-3">
            <table id="tbParcelas" class="table" style="width:70%;background-color:white; border-radius:10px">
                <thead class="thead-dark">
                    <tr>
                        <th>Nro</th>
                        <th>Valor</th>
                        <th>Data Vencimento</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null && Model.Parcelas != null)
                        {
                            foreach (var item in Model.Parcelas)
                            {
                                <tr id="@item.NumeroParcela">
                                    <td>
                                        <label id="TbNumeroParcela" class="form-control">@item.NumeroParcela</label>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">R$</span>
                                            </div>
                                            <input id="TbValorParcela" class="form-control"  disabled value="@item.ValorParcela.ToString("f")" />
                                        </div>                                       
                                    </td>
                                    <td>
                                        <input id="TbData" class="form-control"  name="Data" disabled value="@item.DataVencimento" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group offset-4" style="padding:10px">
        <button id="btnCalcular" class="btn btn-danger" type="button"><b>Calcular</b></button>
        @{
            string valorTotal = "0,00";

            if (Model != null && Model.Parcelas != null)
                valorTotal = Model.Parcelas.Sum(item => item.ValorParcela).ToString("c");

            <label><b>Total: @valorTotal</b></label>
        }
    </div>

    <div class="row" style="padding:10px">
        <div class="col-md-6">
            <label asp-for="TipoOperacao"></label>
            <select style="background-color:white;border-radius:10px" id="TipoOperacao" asp-for="TipoOperacao" class="dropdown-item" asp-items="Html.GetEnumSelectList<TipoOperacao>()"></select>
        </div>
        <div class="col-md-6">
            <label asp-for="TipoCalculo"></label>
            <select style="background-color:white;border-radius:10px" id="TipoCalculo" asp-for="TipoCalculo" class="dropdown-item" asp-items="Html.GetEnumSelectList<TipodeCalculo>()"></select>
        </div>
    </div>
</div>

<script src="~/js/CalcularParcela.js" asp-append-version="true"></script>

