@model WebTribuno.Models.HomeModel
@using WebTribuno.Pages

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>

    </style>
</head>

<div id="PageHome">
    <div class="text-center">
        <h1 class="display-4">Bem-Vindo @ViewData["nomeUsuario"]</h1>
    </div>

    <partial name="_GraficoRendimentoVsPassivo" />
    <div style="overflow-y:scroll; overflow-x:hidden; height:400px;">
        <table class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Parcelas</th>
                    <th>Nome operação</th>
                    <th>Descrição</th>
                    <th>Valor Total</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaPassivo)
                {
                    <tr>
                        <td>
                            <button id="btnExpandirParcelas" onclick="abrirModalDetalhe(@item.IdOperacao,'Home','DetalheParcelas')" type="button" class="btn btn-link">@item.Parcelas.Count.ToString()x de @item.Parcelas[0].ValorParcela.ToString("C")</button>
                        </td>
                        <td>
                            @item.NomeOperacao
                        </td>
                        <td>
                            @item.Descricao
                        </td>
                        <td>
                            @item.Parcelas.Sum(x => x.ValorParcela).ToString("C")
                        </td>
                        <td>
                            <a class="btn text-white" style="border-radius:10px; background-color:gray;" asp-action="Alteracao" asp-controller="CadastrarOperacao" asp-route-pIdOperacao="@item.IdOperacao">Alterar</a>
                            <button class="btn btn-danger" type="button" style="border-radius:10px" onclick="excluirOperacao(@item.IdOperacao)" id="btnExcluirOperacao">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div style="padding-top:30px ;overflow-y:scroll; overflow-x:hidden; height:400px;">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>                  
                    <th>Nome operação</th>
                    <th>Descrição</th>
                    <th>Valor Total</th>
                    <th>Ação</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaRendimento)
                {
                    <tr>                      
                        <td>
                            @item.NomeOperacao
                        </td>
                        <td>
                            @item.Descricao
                        </td>
                        <td>
                            @item.Parcelas.Sum(x => x.ValorParcela).ToString("C")
                        </td>
                        <td>
                            <a class="btn text-white" style="border-radius:10px; background-color:gray;" asp-action="Alteracao" asp-controller="CadastrarOperacao" asp-route-pIdOperacao="@item.IdOperacao">Alterar</a>
                            <button class="btn btn-danger" type="button" onclick="excluirOperacao(@item.IdOperacao)" id="btnExcluirOperacao">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_Modal" />
<script src="~/js/Home.js" asp-append-version="true"></script>
<script src="_framework/blazor.server.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

